name: "Publish Docker Images"

permissions:
  contents: read
  id-token: write
  packages: write

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      latest:
        description: "Set 'latest' tag"
        required: false
        type: boolean
        default: false
  schedule:
    - cron: "20 20 * * *"
  release:
    types: published

jobs:
  ## Alpine
  alpine-edge:
    uses: ./.github/workflows/image-template.yml
    with:
      distro: alpine
      release: edge
      pause: 0
    secrets: inherit

  alpine-stable:
    # needs: alpine-edge
    uses: ./.github/workflows/image-template.yml
    with:
      distro: alpine
      release: stable
      pause: 30
    secrets: inherit

  ## Ubuntu
  ubuntu-edge:
    # needs: alpine-stable
    uses: ./.github/workflows/image-template.yml
    with:
      distro: ubuntu
      release: edge
      pause: 0
    secrets: inherit

  ubuntu-stable:
    # needs: ubuntu-edge
    uses: ./.github/workflows/image-template.yml
    with:
      distro: ubuntu
      release: stable
      latest: ${{ (github.event_name == 'release' && github.event.action == 'published') || inputs.latest }}
      pause: 45
    secrets: inherit
