name: "Publish Docker Images"

permissions:
  contents: read
  id-token: write
  packages: write

on:
  workflow_dispatch:
  schedule:
    - cron: '02 02 * * *'
  release:
    types: published

jobs:
  ## Ubuntu
  ubuntu-edge:
    uses: ./.github/workflows/image-template.yml
    with:
      distro: ubuntu
      release: edge
    secrets: inherit

  ubuntu-stable:
    needs: ubuntu-edge
    uses: ./.github/workflows/image-template.yml
    with:
      distro: ubuntu
      release: stable
    secrets: inherit

  ## Alpine
  alpine-edge:
    needs: ubuntu-stable
    uses: ./.github/workflows/image-template.yml
    with:
      distro: alpine
      release: edge
    secrets: inherit

  alpine-stable:
    needs: alpine-edge
    uses: ./.github/workflows/image-template.yml
    with:
      distro: alpine
      release: stable
      latest: true
    secrets: inherit
